/*Font-Family*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #EDF2F8;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 940px;
    margin: auto;
    margin-top: 12%;
    background-color: #fff;
    border-radius: 20px;
}

.content-drawers_img {
    height: 350px;
    border-top-left-radius: 20px;
}

.content-drawers_img img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 350px;
    height: 350px;
}

.content-component_right {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content-title {
    width: 540px;
    font-size: 0.8em;
    color: #4A5059;
    margin-bottom: 5%;
}

.content-text {
    width: 540px;
    font-weight: 200;
    color: #888D92;
    margin-bottom: 5%;
}

.content-bottom_compenent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-person {
    display: flex;
    align-items: left;
}

.inform-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 165px;
}

.avatar-person {
    margin-right: 10%;
}

.avatar-person img{
    width: 65px;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    margin-bottom: 2%;
}

.dated {
    font-size: 0.9em;
    color: #888D92;
}

.btnshare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #6D819A;
    border-radius: 50%;
    margin-right: 5%;
}

.btnshare img {
    width: 15px;
    height: 15px;
}

.tooltip {
    display: none;
    background-color: black;
    padding: 1rem;
    position: absolute;
    left: calc(63% - 2px);
    justify-content: space-around;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    top: calc(51% - 4px);
}

.active .tooltip {
    display: flex;
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    transform: rotate(45deg);
}

img {
    color: black;
}
  